- content_for :head do
  = set_meta_tags :title => 'Developer Sign Up'
  
#intro_blurb
  .inner
    #intro_blurb_title
      %span Developer Sign Up
    #blurb
      Complete the Form to Get Your API Key
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    .primary_full
      .content
        .two_third
          %h2 Developer Sign Up
          - if flash.any?
            - flash.each do |key, value|
              %div{ :class => "#{key}_box" }
                = value
          %p
            = error_messages_for :developer
            Please use the form below to sign up for a new developers API key.
          - form_for(:developer, :url => { :action => 'create' }, :html => { :id => 'contact_form' }) do |f|
            %fieldset
              %p
                = f.text_field :name, :class => "requiredFieldContact textfield", :id => "field"
                = f.label :name
                (required)
              %p
                = f.text_field :email, :class => "requiredFieldContact textfield", :id => "email"
                = f.label :email
                (required)
              %p
                = f.text_field :website, :class => "requiredFieldContact textfield", :id => "url", :value => "http://example.com", :onfocus => "if(this.value == 'http://example.com') {this.value = '';}", :onblur => "if (this.value == '') {this.value = 'http://example.com';}"
                = f.label :website
                (required)
              %p
                = f.text_area :purpose, :class => "requiredFieldContact textarea", :id => "field", :value => "Briefly describe why you are signing up for the Oil Reporter API.", :onfocus => "if(this.value == 'Briefly describe why you are signing up for the Oil Reporter API.') {this.value = '';}", :onblur => "if (this.value == '') {this.value = 'Briefly describe why you are signing up for the Oil Reporter API.';}"
              %p
                = f.check_box :volunteer, :class => "input"
                = f.label :volunteer, 'Please contact me regarding volunteer development opportunities.'
              %p
                = recaptcha_tags(:display => {:theme => 'white'})
              %p
                = submit_tag('Submit', :class => "round s button")
        .clearboth
        / end two_third
      /end content 
    / end primary_full
  / end inner
/ end body_block      