%body
  
  = render :partial => 'shared/header'

  #main
    #path
      You are here:
      = link_to 'Home', root_url
      >>
      %h1 Signup
  
    #content
      .container_12
        .grid_8
          .post
            .posttop
            .postbody
              - if flash.any?
                #flash
                  - flash.each do |key, value|
                    %div{ :id => "flash_#{key}", :class => key }
                      = value
                .clear
                / end flash
              
              %h2 Developer Sign Up
              %p
                = error_messages_for :developer
                Please use the form below to sign up for a new developer's API key.
              - form_for(:developer, :url => { :action => 'create' }, :html => { :id => 'contact' }) do |f|
                %fieldset
                  %p
                    = f.label :name
                    %span.small (required)
                    %br
                    = f.text_field :name, :class => "round m input", :id => "field"
                  %p
                    = f.label :email
                    %span.small (required)
                    %br
                    = f.text_field :email, :class => "round m input", :id => "email"
                  %p
                    = f.label :website
                    %span.small (required)
                    %br
                    = f.text_field :website, :class => "round m input", :id => "url"
                  %p
                    = f.label :purpose
                    %span.small (required)
                    %br
                    = f.text_area :purpose, :class => "round l input", :id => "field"
                  %p
                    = f.check_box :volunteer, :class => "input"
                    = f.label :volunteer, 'Please contact me regarding volunteer development opportunities.'
                  %p
                    = submit_tag('Submit', :class => "round s button")
            .postfoot    
        .clear

  = render :partial => "shared/footer"
