- content_for :head do
  = set_meta_tags :title => 'Sign Up Success'

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    .primary_full
      .content
        .entry
          %h1 
            Hey
            = @developer.name.camelcase
            here's your new API key:
          - if flash.any?
            - flash.each do |key, value|
              %div{ :class => "#{key}_box" }
                = value
          %h3
            P.S. We also sent an e-mail to 
            = @developer.email.downcase
            with your API Key.
        .clearboth
        / end entry
      / end content
    / end primary_full
  /end inner
/ end body_block
          
#call_to_action
  .inner
    #blurb
      Click the button to view the Oil Reporter API and get started!
      #call_to_action_button2
        %a{ :href => "/api", "gt-evt" => "click", "gt-cat" => "api" }
.clearboth
