#footer
  .background
    .inner
      %h2{ :style => "position:relative;left:-3px;margin-bottom:40px;" } Contributors
      .one_fourth
        %h3.widgettitle Brendan Lim
        %p
          = link_to 'Brendan Lim', 'http://twitter.com/brendanlim', "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@brendanlim"
          is Intridea's mobile application extraordinaire. Brendan spent his days as a systems architect at a mobile startup called kajeet, Inc. He also found the time to co-found, design, and lead development on Yappd, a microblogging social network, built on Rails, that was featured in such publications as PC Magazine, TechCrunch and Mashable.
      .one_fourth
        %h3.widgettitle Chris Selmer
        %p
          = link_to 'Chris Selmer', 'http://twitter.com/cselmer', "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@cselmer"
          is an expert Ruby on Rails architect with over 10 years of project leadership and hands-on development experience. He specializes in leading small teams on fast-paced development projects as Director of Client Solutions at Intridea.
      .one_fourth
        %h3.widgettitle Sean Soper
        %p
          = link_to 'Sean Soper', 'http://twitter.com/ssoper', "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@ssoper"
          is a Software Architect at Intridea. A Ruby enthusiast for over five years, Sean brings a decade of software development experience in industries ranging from defense to health care. In addition, he is a registered iPhone developer with several apps to his name. An avid learner, Sean is constantly seeking out interesting languages and solving computer science-related problems.
      .one_fourth.last
        %h3.widgettitle Jonathan Nelson
        %p
          = link_to 'Jonathan Nelson', 'http://twitter.com/jonathannelson', "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@jonathannelson"
          is the Product Manager for Intridea. A Ruby on Rails expert and web design artisan with over 10 years of professional experience in launching new products and turning emerging business opportunities into profitable, mature businesses.
      .one_fourth
        %h3.widgettitle Intridea
        %p
          %a{ :href => "http://intridea.com", "gt-evt" => "click", "gt-cat" => "intridea" }
            %img{ :src => "/images/companies/built_by_intridea.png"}
      .one_fourth
        %h3.widgettitle Crisis Commons
        %p
          %a{ :href => "http://crisiscommons.org", "gt-evt" => "click", "gt-cat" => "crisiscommons" }
            %img{ :src => "/images/companies/crisiscommons_logo.png"}
      .one_fourth
        %h3.widgettitle Appcelerator
        %p
          %a{ :href => "http://www.appcelerator.com", "gt-evt" => "click", "gt-cat" => "appcelerator" }
            %img{ :src => "/images/companies/appcelerator_small.png"}
      
      .clearboth
    / end inner
  / end background
/ end footer

#sub_footer
  .inner
    .one_half
      %div
        &nbsp;
    .one_half.last{ :style => "text-align:right;" }
      #footer_nav
        %ul
          %li
            = link_to 'Home', root_url, "gt-evt" => "click", "gt-cat" => "footer", "gt-lbl" => "Home"
          %li 
            %a{ :href => "/about", "gt-evt" => "click", "gt-cat" => "footer", "gt-lbl" => "About" }
              About
          %li
            %a{ :href => "/privacy", "gt-evt" => "click", "gt-cat" => "footer", "gt-lbl" => "Privacy" }
              Privacy
          %li 
            %a{ :href => "/tos", "gt-evt" => "click", "gt-cat" => "footer", "gt-lbl" => "TOS" }
              Terms of Service
          %li 
            %a{ :href => "#", "gt-evt" => "click", "gt-cat" => "footer", "gt-lbl" => "Contact Us" }
              Contact Us
    / end inner
/ end sub_footer