#footer
  .background
    .inner
      .one_fourth
        %h3.widgettitle Brendan Lim
        %p
          = link_to 'Brendan Lim', 'http://twitter.com/brendanlim'
          is Intridea's mobile application extraordinaire. Brendan spent his days as a systems architect at a mobile startup called kajeet, Inc. He also found the time to co-found, design, and lead development on Yappd, a microblogging social network, built on Rails, that was featured in such publications as PC Magazine, TechCrunch and Mashable.
      .one_fourth
        %h3.widgettitle Chris Selmer
        %p
          = link_to 'Chris Selmer', 'http://twitter.com/cselmer'
          is an expert Ruby on Rails architect with over 10 years of project leadership and hands-on development experience. He specializes in leading small teams on fast-paced development projects as Director of Client Solutions at Intridea.
      .one_fourth
        %h3.widgettitle Sean Soper
        %p
          = link_to 'Sean Soper', 'http://twitter.com/ssoper'
          is a Software Architect at Intridea. A Ruby enthusiast for over five years, Sean brings a decade of software development experience in industries ranging from defense to health care. In addition, he is a registered iPhone developer with several apps to his name. An avid learner, Sean is constantly seeking out interesting languages and solving computer science-related problems.
      .one_fourth.last
        %h3.widgettitle Jonathan Nelson
        %p
          = link_to 'Jonathan Nelson', 'http://twitter.com/jonathannelson'
          is the Product Manager for Intridea. A Ruby on Rails expert and web design artisan with over 10 years of professional experience in launching new products and turning emerging business opportunities into profitable, mature businesses.
      
      .clearboth
    / end inner
  / end background
/ end footer

#sub_footer
  .inner
    .one_half
      Privacy Policy | Terms and Conditions
    .one_half.last{ :style => "text-align:right;" }
      #footer_nav
        %ul
          %li
            = link_to 'Home', root_url
          %li 
            %a{ :href => "/tools" }
              Tools
          %li
            %a{ :href => "/signup" }
              Sign Up
          %li 
            %a{ :href => "/setup" }
              Setup
          %li 
            %a{ :href => "/api" }
              API Documentation
          %li
            = link_to "View Reports", reports_path
          %li
            %a{ :href => "/map" }
              View Map
          %li 
            %a{ :href => "http://github.com/intridea/oilreporter-mobile" }
              GitHub
    / end inner
/ end sub_footer