#header
  .inner
    #logo
      #default_logo
        = link_to '', root_path
    / end logo
    
    #main_navigation.jqueryslidemenu
      %ul
        %li
          = link_to 'Home', root_path
        %li
          %a{ :href => "/about" }
            About
        %li
          %a{ :href => "/news" }
            News
        %li
          %a{ :href => "" }
            Sign Up
          %ul
            %li
              %a{ :href => "/organizations/new" }
                Organizations
            %li
              %a{ :href => "/signup" }
                Developers
        %li
          %a{ :href => "" }
            Download
          %ul
            %li
              %a{ :href => "http://itunes.apple.com/app/oil-reporter/id372961637?mt=8" }
                iPhone Reporter
            %li
              %a{ :href => "http://www.androidzoom.com/android_applications/news_and_weather/oil-reporter_gxif.html" }
                Android Reporter
        %li
          %a{ :href => "" }
            View Latest
          %ul
            %li
              = link_to "Organizations", organizations_path
            %li
              = link_to "Reports", reports_path
            %li
              %a{ :href => "/map" }
                Map
            %li
              %a{ :href => "/tools" }
                Tools
            %li
              %a{ :href => "/data-sources" }
                Data Sources
        %li
          %a{ :href => "" }
            Open Source
          %ul
            %li 
              %a{ :href => "http://github.com/intridea/oilreporter-mobile" }
                Oil Reporter Mobile (GitHub)
            %li
              %a{ :href => "http://github.com/kwhinnery/OilTracker" }
                Oil Tracker (Github)
        %li
          %a{ :href => "" }
            Social Media
          %ul
            %li
              %a{ :href => "http://www.youtube.com/OilReporter" }
                YouTube
            %li 
              %a{ :href => "http://www.flickr.com/photos/49994449@N05/" }
                Flickr
            %li 
              %a{ :href => "http://twitter.com/oilreporter" }
                Twitter
            %li 
              %a{ :href => "http://www.facebook.com/group.php?gid=124499387563120&ref=ts" }
                Facebook
            %li 
              %a{ :href => "http://wiki.crisiscommons.org/wiki/Oil_Spill_Response" }
                Wiki
        %li
          %a{ :href => "/api" }
            API
        %li
          = link_to "RSS", reports_url(:format => :rss)
    / end top navigation
  / end inner
/ end header