#header
  .inner
    #logo
      #default_logo
        = link_to '', root_path
    / end logo
    
    - unless controller.class.to_s.include?('Admin::')
      #main_navigation.jqueryslidemenu
        %ul
          - if current_user
            %li
              = link_to 'Admin', admin_home_path
          - else
            %li
              = link_to 'Home', root_path
          - unless Post.published.blank?
            %li
              = link_to 'Blog', default_blog_path
          %li
            %a{ :href => "/about", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "About" }
              About
          %li
            %a{ :href => "/news", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "News" }
              News
          %li
            %a{ :href => "/setup", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Setup" }
              Setup
          %li
            %a
              Sign Up
            %ul
              %li
                %a{ :href => "/organizations/new", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Organization (Sign Up)" }
                  Organizations
              %li
                %a{ :href => "/signup", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Developers (Sign Up)" }
                  Developers
          %li
            %a
              Download
            %ul
              %li
                %a{ :href => "http://itunes.apple.com/app/oil-reporter/id372961637?mt=8", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Download Oil Reporter (iTunes)" }
                  iPhone Reporter
              %li
                %a{ :href => "http://www.androidzoom.com/android_applications/news_and_weather/oil-reporter_gxif.html", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Download Oil Reporter (AndroidZoom)" }
                  Android Reporter
          %li
            %a
              View Latest
            %ul
              %li
                = link_to "Reports", reports_path, "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Reports"
              %li
                %a{ :href => "/map", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Map" }
                  Map
              %li
                %a{ :href => "/tools", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Tools" }
                  Tools
              %li
                %a{ :href => "/data-sources", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Data Sources" }
                  Data Sources
          %li
            %a
              Open Source
            %ul
              %li 
                %a{ :href => "http://github.com/intridea/oilreporter-mobile", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Download Oil Reporter Source" }
                  Oil Reporter
              %li
                %a{ :href => "http://github.com/kwhinnery/OilTracker", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => " Download Oil Tracker Source" }
                  Oil Tracker
          %li
            %a
              Social Media
            %ul
              %li
                %a{ :href => "http://www.youtube.com/OilReporter", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "YouTube" }
                  YouTube
              %li 
                %a{ :href => "http://www.flickr.com/photos/49994449@N05/", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Flickr" }
                  Flickr
              %li 
                %a{ :href => "http://twitter.com/oilreporter", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Twitter" }
                  Twitter
              %li 
                %a{ :href => "http://www.facebook.com/oilreporter", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Facebook" }
                  Facebook
              %li 
                %a{ :href => "http://wiki.crisiscommons.org/wiki/Oil_Spill_Response", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "Wiki" }
                  Wiki
          %li
            %a{ :href => "/api", "gt-evt" => "click", "gt-cat" => "header", "gt-lbl" => "API" }
              API
      / end top navigation
    - else
      #main_navigation.jqueryslidemenu
        %ul
          %li
            = link_to 'Admin', admin_home_path
          %li
            = link_to 'New Post', new_admin_post_path
          %li
            = link_to 'Profile', admin_user_path(@current_user)
          %li
            = link_to 'Users', admin_users_path
          %li
            = link_to 'Sign Out', user_session_path, :method => :delete
      / end top navigation
  / end inner
/ end header