/ Start Header
= render :partial => 'shared/header'
/ End Header

/ Start Showcase Content
#main
  #intro
    .container_12
      / Start Slides
      #slides
        %img{ :src => "img/slide.1.png", :alt => "Oil Reporter for iPhone", :class => "active" }
        %img{ :src => "img/slide.2.png", :alt => "Oil Reporter - What do you see?" }
        %img{ :src => "img/slide.3.png", :alt => "Oil Reporter Twitter feed" }
        %img{ :src => "img/slide.4.png", :alt => "About Oil Reporter", :class => "last" }
      / End Slides
      #brief.prefix_6.grid_6
        %h1{ :style => "position:relative;left:45px;" } Help Clean Up
        %h3{ :style => "color:white;position:relative;left:80px;" }
          Oil Reporter App Available for
        %a{ :href => "", :class => "signup ie6fix" }
          iPhone
        %a{ :href => "", :class => "more ie6fix" }
          Android  
      .clear
      / end of #brief
  / end of #intro
  #content
    .container_12
      .grid_6
        %a{ :href => "http://intridea.com" }
          %img{ :src => "img/intridea_small.png", :alt => "", :class => "left" }
        .right.text
          %h3 To the Gulf of Mexico with Love
          %p.compact
            Oil Reporter was built by 
            = link_to 'Intridea', 'http://intridea.com'
            for the Gulf of Mexico Oil Spill.  On April 20, 2010, an explosion occurred on the semi-submersible offshore drilling rig Deepwater Horizon in the Gulf of Mexico killing 11 rig workers and injuring 17 others.  On April 24, it was found that the wellhead was damaged and was leaking oil into the Gulf.  Oil Reporter enables people to help with the recovery effort by using real-time check-ins to report what they're seeing on the ground.  Users can upload photos and videos, reporting oil sighting, harmed wildlife sightings and much more.
      .grid_6
        %a{ :href => "http://crisiscommons.org" }
          %img{ :src => "img/crisiscommons_small.png", :alt => "", :class => "left" }
        .right.text
          %h3 Crisis Commons
          %p.compact
            = link_to 'Crisis Commons', 'http://crisiscommons.org'
            is an international volunteer network of professionals drawn together by a call to service. We create technological tools and resources for responders to use in mitigating disasters and crises around the world.
      .clear
      .grid_6
        %a{ :href => "http://www.appcelerator.com/products/titanium-mobile/" }
          %img{ :src => "img/appcelerator_small.png", :alt => "", :class => "left" }
        .right.text
          %h3 Built on Titanium
          %p.compact
            Oil Reporter was built with 
            = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile/'
            in a matter of days! You’ve got the ideas, now you’ve got the power. Titanium translates your hard won web skills into native applications that perform and look just like they were written in Objective-C [iPhone] or Java [Android]. With over 300 APIs, a thriving developer community, and the support you need, you can build applications that are more social, local, media rich, interactive, and extensible. Learn more about
            = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile/'
            for mobile development.
      .grid_6
        %a{ :href => "" }
          %img{ :src => "img/github_small.png", :alt => "", :class => "left" }
        .right.text
          %h3 Open Source
          %p.compact
            Oil Reporter for iPhone and Android has been released as open source on GitHub. If you're a developer and would like to contribute then please 
            = link_to 'join the social coding!', 'http://github.com/intridea/oilreporter-mobile'
      .clear
      .grid_6
        %a{ :href => "http://heroku.com" }
          %img{ :src => "img/heroku_small.png", :alt => "Heroku - Ruby Cloud Platform", :class => "left" }
        .right.text
          %h3 Hosting
          %p.compact
            Oil Reporter uses 
            = link_to 'Heroku', 'http://heroku.com'
            for hosting in the coud. Heroku is a cloud application platform for Ruby. Heroku lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling. Learn more about the
            = link_to 'Heroku Ruby Cloud Platform', 'http://heroku.com'
            today!
      .clear  
      / end of grid row
      .grid_12
        / Start Tweets
        = render :partial => "shared/twitterbuzz"
      
      .clear
      / = render :partial => "shared/news"
      / end news
      .clear      
      / end grid
  / end #content
/ end #main  

#foot
  .container_12
    .grid_3
      %h4 The Team
      %p
        = link_to 'Intridea', 'http://intridea.com'
        designs and develops simple, intuitive applications to help companies realize the power of social and business collaboration, cloud computing, and next-generation tools for the enterprise.
    .grid_3
      %h4{ :style => "color:#171717"} .
      %p
        = link_to 'Brendan Lim', 'http://twitter.com/brendanlim'
        is Intridea's mobile application extraordinaire. Brendan spent his days as a systems architect at a mobile startup called kajeet, Inc. He also found the time to co-found, design, and lead development on Yappd, a microblogging social network, built on Rails, that was featured in such publications as PC Magazine, TechCrunch and Mashable.
    .grid_3
      %h4{ :style => "color:#171717"} .
      %p
        = link_to 'Chris Selmer', 'http://twitter.com/cselmer'
        is an expert Ruby on Rails architect with over 10 years of project leadership and hands-on development experience. He specializes in leading small teams on fast-paced development projects as Director of Client Solutions at Intridea.
    .grid_3
      %h4{ :style => "color:#171717"} .
      %p
        = link_to 'Jonathan Nelson', 'http://twitter.com/jonathannelson'
        is the Product Manager for Intridea after selling his previous company, TwitterMass, last year. ATL [Startup Digest] Curator, Startup King, Lover of All Things People, Hustle 2.0, Entrepreneur for Life, Aspiring Author & Tech Geek.
    .clear
    / end grid
    
    / second row
    .grid_3
      %h4{ :style => "color:#171717"} .
      %p
        = link_to 'Sean Soper', 'http://twitter.com/ssoper'
        is a Software Architect at Intridea. A Ruby enthusiast for over five years, Sean brings a decade of software development experience in industries ranging from defense to health care. In addition, he is a registered iPhone developer with several apps to his name. An avid learner, Sean is constantly seeking out interesting languages and solving computer science-related problems.
<<<<<<< HEAD
=======
    
>>>>>>> 6fa14d432b1f6063317b09acb71ec1088d9390c4
    .clear
  
    .grid_9
      %p
        Copyright ©2010
        %a{ :href => "http://intridea.com", :title => "Intridea - Design, Development, and Strategy for the Enterprise Web" }
          Intridea, Inc.
    .grid_3
      %a{ :href => "http://intridea.com" }
        %img{ :src => "img/logo.foot.png", :alt => "" }
    .clear
    / end of grid row
/ end footer                                        