#intro_blurb
  .inner
    #intro_blurb_title
      %span An Open Source Clean Up
    #blurb
      %a{ :href => "/images/iphone/slide.4.png", :rel => "prettyPhoto[iphone]", :style => "height:502px;width:272px;", :title => "Oil Reporter for iPhone" }
      %a{ :href => "/images/iphone/slide.3.png", :rel => "prettyPhoto[iphone]", :style => "height:502px;width:272px;", :title => "What do you see?" }
      %a{ :href => "/images/iphone/slide.2.png", :rel => "prettyPhoto[iphone]", :style => "height:502px;width:272px;", :title => "Twitter feed" }
      %a{ :href => "/images/iphone/slide.1.png", :rel => "prettyPhoto[iphone]", :style => "height:502px;width:272px;", :title => "About Oil Reporter" }
        Click to view iPhone application
/ end intro
        
.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        .entry
          %h1 Architecture
          .one_fourth
            %p.fancy_header
              %span Report
            %p  
              %span.dropcap1
                1
              Download the app for 
              %a{ :href => "#", :title => "Coming Soon: We're waiting on app store approval." }
                iPhone
              or 
              %a{ :href => "http://www.androidzoom.com/android_applications/news_and_weather/oil-reporter_gxif.html", :target => "_blank" }
                Android
              and start helping out today. 
              = link_to 'View reports', reports_path
              submitted by users in real-time. Check out our 
              %a{ :href => "/map" }
                map
              showing each check-in too. 
            %a{ :href => "/reports" }
              %img{ :src => "/images/front_report.png", :style => "margin-top:-10px;" }
          .one_fourth
            %p.fancy_header
              %span Local
            %p
              %span.dropcap1
                2
              Find out how to use our API by reading our
              %a{ :href => "/api" }
                documentation
              Get started 
              %a{ :href => "/signup" }
                developing your own application
              and help out the cause. 
              %a{ :href => "http://twitter.com/oilreporter" }
                Let us know
              if you need any help!
            %a{ :href => "/setup" }
              %img{ :src => "/images/front_localization.png", :style => "margin-top:-10px;" }
          .one_fourth
            %p.fancy_header
              %span Data
            %p
              %span.dropcap1
                3
              View mapped data, photos, and videos that have been submitted from individuals on the ground near the Gulf Coast. Reports have been sent to us via our mobile application.
            %a{ :href => "/map" }
              %img{ :src => "/images/front_data.png", :style => "margin-top:-10px;" }
          .one_fourth.last
            %p.fancy_header
              %span Tools
            %p
              %span.dropcap1
                4
              Soon you will be able to view, download and interact with other tools submitted by developers using the Oil Reporter API. Coming Soon.
            %img{ :src => "/images/front_tools.png", :style => "margin-top:-10px;" }
          
          .clearboth
          
          .divider.top
            %a{ :href => "#" }
              Top

#call_to_action
  .inner
    #blurb
      Download the 
      %a{ :href => "#", :title => "Coming Soon: We're waiting on app store approval.", :confirm => "Coming Soon: We're waiting on app store approval." }
        iPhone 
      or 
      %a{ :href => "http://www.androidzoom.com/android_applications/news_and_weather/oil-reporter_gxif.html", :title => "Download Oil Reporter for the Android mobile device.", :target => "_blank" }
        Android 
      app for Oil Reporter.
      #call_to_action_button1
        %a{ :href => "#", :title => "This page is coming soon." }

#body_block
  .inner
    #primary_full
      .content
        .entry
          
          .one_half
            %a{ :href => "http://intridea.com" }
              %h3 Intridea
            %h6 Building better applications.
            %p
              Oil Reporter was built by 
              = link_to 'Intridea', 'http://intridea.com'
              for the Gulf of Mexico Oil Spill.  On April 20, 2010, an explosion occurred on the semi-submersible offshore drilling rig Deepwater Horizon in the Gulf of Mexico killing 11 rig workers and injuring 17 others.  On April 24, it was found that the wellhead was damaged and was leaking oil into the Gulf.  Oil Reporter enables people to help with the recovery effort by using real-time check-ins to report what they're seeing on the ground.  Users can upload photos and videos, reporting oil sighting, harmed wildlife sightings and much more. 
          
          .one_half.last
            %a{ :href => "http://crisiscommons.org" }
              %h3 Intridea
            %h6 Helping save lives through technology.
            %p
              = link_to 'Crisis Commons', 'http://crisiscommons.org'
              is an international volunteer network of technical and business professionals drawn together by a call to service. We create technological tools and resources for responders to use in mitigating disasters and crises around the world. CrisisCamps are efforts by local communities to garner the collective skills of volunteers, particularly technology related, to support relief efforts during crises, such as natural disasters. Most recently, CrisisCamps have been active in supporting relief efforts following the earthquake in Haiti.
          
          .one_half
            %h3 Appcelerator
            %h6 Built with Titanium.
            %p
              Oil Reporter was built with 
              = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile/'
              in a matter of days! You’ve got the ideas, now you’ve got the power. Titanium translates your hard won web skills into native applications that perform and look just like they were written in Objective-C [iPhone] or Java [Android]. With over 300 APIs, a thriving developer community, and the support you need, you can build applications that are more social, local, media rich, interactive, and extensible. Learn more about
              = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile/'
              for mobile development. 
          
          .one_half.last
            %h3 Github
            %h6 Social Coding.
            %p
              Oil Reporter for iPhone and Android has been released as open source on GitHub. If you're a developer and would like to contribute then please 
              = link_to 'join the social coding!', 'http://github.com/intridea/oilreporter-mobile'
            %p
              What is 
              %a{ :href => "http://github.com" }
                Github?
              Github is an online project hosting site that uses Git. Includes source-code browser, in-line editing, wikis, and ticketing. Free for public open-source code. 
          
          .clearboth
          
          
          .divider.top
            %a{ :href => "#" }
              Top
        
        / end entry
      / end content
    / end primary_full
    
    .clearboth
    
  / end inner
/ end body_block