= welcome_popup

- content_for :js_templates do
  jQuery.preloadImages("/stylesheets/img/home_feature.jpg","/stylesheets/img/stage.jpg","/stylesheets/img/header.jpg","/images/slider_inactive.png","/images/buttons.gif","/stylesheets/img/buttons.gif","/images/slider_active.png","/stylesheets/img/drop.png","/stylesheets/img/dropR.png","/stylesheets/img/drop_sub.png");
  
  jQuery(document).ready(function(){ jQuery('#tweethash').tweetSync({ width:'960px', tweetCount:'5', center: true }); });
  
  
#home_feature
  .background
    .inner
      #slider_thumbnails
        #slider_preview_img
      #loading_slider
      #slider_img
        / slide 1
        .image_loader.slider_cropped
          .slider_content
            %h2 iPhone & Android
            %p 
              Oil Reporter was built with 
              = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile/', "gt-cat" => "appcelerator", "gt-lbl" => "titanium#label"
              in a matter of days! Oil Reporter enables people to help with the recovery effort by using real-time check-ins to report what they're seeing on the ground.  Users can upload photos and videos, reporting oil sighting, harmed wildlife sightings and much more. Download the app for iPhone or Android and start helping out today.
            %div{ :style => "display:inline" }
              :erb
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Foilreporter.org&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=dark&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
              &nbsp;
              :erb
                <script type="text/javascript">
                tweetmeme_style = 'compact';
                </script>
                <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
          .slider_img_cropped
            %a.load_slider_img{ :href => "/tools", "gt-evt" => "click", "gt-cat" => "download"  }
              %span.rm_img
                %img{ :src => "/images/slides/1.jpg" }
        / slide 2
        .image_loader.slider_cropped
          .slider_content
            %h2 Send Reports
            %p Oil Reporter makes it easy for people to upload personal reports on the ground.
          .slider_img_cropped
            %a.load_slider_img{ :href => "/reports", "gt-evt" => "click", "gt-cat" => "reports" }
              %span.rm_img
                %img{ :src => "/images/slides/2.jpg" }
        / slide 3
        .image_loader.slider_cropped
          .slider_content
            %h2 Twitter Feed
            %p Stay in touch with what's happening on the ground with the Oil Reporter Twitter feed.
          .slider_img_cropped
            %a.load_slider_img{ :href => "http://search.twitter.com/search?q=%23oilspill", :target => "_blank", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "twitter", "gt-lbl" => "#oilspill" }
              %span.rm_img
                %img{ :src => "/images/slides/3.jpg" }
        / slide 4
        .image_loader.slider_cropped
          .slider_content
            %h2 About
            %p 
              Oil Reporter was built by 
              = link_to 'Intridea', 'http://intridea.com', "gt-evt" => "click", "gt-cat" => "intridea"
              for the Gulf of Mexico Oil Spill. Oil Reporter enables people to help with the recovery effort by using real-time check-ins to report what they're seeing on the ground.  Users can upload photos and videos, reporting oil sighting, harmed wildlife sightings and much more.
          .slider_img_cropped
            %a.load_slider_img{ :href => "http://intridea.com", "gt-evt" => "click", "gt-cat" => "intridea" }
              %span.rm_img
                %img{ :src => "/images/slides/4.jpg" }
#intro_blurb
  .inner
    #intro_blurb_title
      %span Does your organization need a customized app?
    #blurb
      %a{ :href => "/organizations/new", "gt-evt" => "click", "gt-cat" => "organizations", "gt-lbl" => "Sign Up" }
        Request one now!
/ end intro
        
.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        .entry
          %h1 As Featured On
          .one_fourth
            %a{ :href => "http://www.cnn.com/video/#/video/tech/2010/05/29/nr.armstrong.oil.spill.tech.cnn", :title => "Tech expert Mario Armstrong explains how new technology can enable Gulf Coast residents to become mobile oil reporters.", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "CNN" }
              %img{ :src => "/images/pr/cnn_small.png" }
            %p
              Tech expert 
              %a{ :href => "http://twitter.com/marioarmstrong", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@marioarmstrong" }
                Mario Armstrong
              explains how new technology can enable Gulf Coast residents to become mobile oil reporters with 
              %a{ :href => "/tools" }
                Oil Reporter.
          .one_fourth
            %a{ :href => "http://www.npr.org/blogs/alltechconsidered/2010/05/26/127135431/oil-spill-iphone-android-app", :title => "Want To Help Report The Oil Spill? There's An App For That", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "NPR" }
              %img{ :src => "/images/pr/npr_small.png" }
            %p
              Want To Help Report The Oil Spill? There's An App For That - NPR's 
              %a{ :href => "http://twitter.com/acarvin", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@acarvin" }
                Andy Carvin 
              reports.
          .one_fourth
            %a{ :href => "http://radar.oreilly.com/2010/05/crisis-commons-releases-open-s.html", :title => "Crisis Commons releases open source oil spill reporting", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "O'Reilly" }
              %img{ :src => "/images/pr/oreilly_small.png" }
            %p
              Crisis Commons releases open source oil spill reporting - O'Reilly's 
              %a{ :href => "https://twitter.com/digiphile", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@digiphile" }
                Alex Howards
              reports.
          .one_fourth.last
            %a{ :href => "http://www.cbsnews.com/8301-504464_162-20006197-504464.html?tag=contentMain;contentBody", :title => "Online Resources to Drill into the BP Oil Disaster", "gt-evt" => "click", "gt-cat" => "news", "gt-lbl" => "CBS News" }
              %img{ :src => "/images/pr/cbs_news_small.png" }
            %p
              Online Resources to Drill into the BP Oil Disaster - CBS News 
              %a{ :href => "http://twitter.com/shiralazar", "gt-evt" => "click", "gt-cat" => "twitter", "gt-lbl" => "@shiralazar" }
                Shira Lazar
              reports.
          .clearboth
          .divider.top
            %a{ :href => "#" }
              Top
          %h1 Getting Started
          .one_fourth
            %p.fancy_header
              %span
                = link_to "Report", reports_path, "gt-evt" => "click", "gt-cat" => "reports"
            %p  
              %span.dropcap1
                1
              Report oiled beaches and animals directly from your phone. Volunteer to help with the response. Start uploading your pictures and videos by 
              %a{ :href => "/tools", "gt-evt" => "click", "gt-cat" => "download" }
                downloading
              the Oil Reporter app for iPhone and Android today. Share with your networks.  
            %a{ :href => "/reports", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "reports", "gt-act" => "reports#mouseenter,reports#mouseleave" }
              %img{ :src => "/images/front_report.png", :style => "margin-top:-10px;" }
          .one_fourth
            %p.fancy_header
              %span Customize
            %p
              %span.dropcap1
                2
              Are you a non-profit who wants to create your own Oil Reporter? Are you a 
              %a{ :href => "/api" }
                mobile developer 
              wanting to help response organizations with our API?
              %a{ :href => "/setup" }
                Create your own
              version of Oil Reporter, volunteer to code and contribute to the API today! 
            %a{ :href => "/setup", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "setup", "gt-act" => "setup#mouseenter,setup#mouseleave" }
              %img{ :src => "/images/front_customize.png", :style => "margin-top:-10px;" }
          .one_fourth
            %p.fancy_header
              %span Adopt-A-Beach
            %p
              %span.dropcap1
                3
              Get trained to map imagery of beaches and wetlands, provide visual context and local knowledge. No experience necessary. You just need access to the internet & commitment to monitor a section of beach with your expertise. 
            %a{ :href => "http://adoptabeach.eventbrite.com", "gt-evt" => "click", "gt-cat" => "adopt", "gt-lbl" => "signup#label" }
              %img{ :src => "/images/front_adopt.png", :style => "margin-top:-10px;" }
          .one_fourth.last
            %p.fancy_header
              %span Tools
            %p
              %span.dropcap1
                4
              View, download and interact with other apps submitted by developers using the
              %a{ :href => "/api" }
                Oil Reporter API.
              If you're a response organization check out how data being submitted in the field can be matched with your specific organization identification.
            %a{ :href => "/tools", "gt-evt" => "mouseenter,mouseleave", "gt-cat" => "tools", "gt-act" => "tools#mouseenter,tools#mouseleave" }
              %img{ :src => "/images/front_tools.png", :style => "margin-top:-10px;" }
          
          .clearboth
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          - unless Post.published.featured.blank?
            .one_half
              %h1 Featured Post
              - Post.published.featured.by_date.limit(1).each do |post|
                %h2.blog_header
                  = link_to(post.title, post_link(post))
                .top_metadata
                  by
                  = post.user.name
                  on
                  = post.published_on.strftime("%B %d, %Y").gsub(" 0"," ")
                %p
                  = post.excerpt
                %p
                  %a{ :href => "#{post_link(post)}", :class => "button_link" }
                    %span Continue reading &raquo;
          
          - unless Post.published.blank?
            .one_half.last
              %h1 Recent Posts
              - Post.published.by_date.limit(3).each do |post|
                %h2.blog_header 
                  = link_to(post.title, post_link(post))
                .top_metadata
                  by
                  = post.user.name
                  on
                  = post.published_on.strftime("%B %d, %Y").gsub(" 0"," ")

#call_to_action
  .inner
    #blurb{ :style => "padding:54px 230px 80px 0;" }
      Download the new iPhone or Android application for Oil Reporter
      #call_to_action_button1
        %a{ :href => "/tools", "gt-evt" => "click", "gt-cat" => "download" }

#body_block
  .inner
    #primary_full
      .content
        .entry
          
          .one_half
            %a{ :href => "http://intridea.com" }
              %h3 Intridea
            %h6 Building better applications.
            %p
              Oil Reporter was built by 
              = link_to 'Intridea', 'http://intridea.com', "gt-evt" => "click", "gt-cat" => "intridea"
              for the Gulf of Mexico Oil Spill. On April 20, 2010, an explosion occurred on the semi-submersible offshore drilling rig Deepwater Horizon in the Gulf of Mexico killing 11 rig workers and injuring 17 others. On April 24, it was found that the wellhead was damaged and was leaking oil into the Gulf. Oil Reporter enables people to help with the recovery effort by using real-time check-ins to report what they're seeing on the ground.  Users can upload photos and videos, reporting oil sighting, harmed wildlife sightings and much more. 
          
          .one_half.last
            %a{ :href => "http://crisiscommons.org", "gt-evt" => "click", "gt-cat" => "crisiscommons" }
              %h3 Crisis Commons
            %h6 Helping save lives through technology.
            %p
              = link_to 'Crisis Commons', 'http://crisiscommons.org', "gt-evt" => "click", "gt-cat" => "crisiscommons"
              is an international volunteer network of technical and business professionals drawn together by a call to service. We create technological tools and resources for responders to use in mitigating disasters and crises around the world. CrisisCamps are efforts by local communities to garner the collective skills of volunteers, particularly technology related, to support relief efforts during crises, such as natural disasters. Most recently, CrisisCamps have been active in supporting relief efforts following the earthquake in Haiti.
          
          .one_half
            %a{ :href => "http://appcelerator.com", "gt-evt" => "click", "gt-cat" => "appcelerator" }
              %h3 Appcelerator
            %h6 Built with Titanium.
            %p
              Oil Reporter was built with 
              = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/titanium-mobile-application-development/', "gt-evt" => "click", "gt-cat" => "appcelerator", "gt-lbl" => "titanium info"
              in a matter of days! You’ve got the ideas, now you’ve got the power. Titanium translates your hard won web skills into native applications that perform and look just like they were written in Objective-C [iPhone] or Java [Android]. With over 300 APIs, a thriving developer community, and the support you need, you can build applications that are more social, local, media rich, interactive, and extensible. Download
              = link_to 'Appcelerator Titanium', 'http://www.appcelerator.com/products/download/', "gt-evt" => "click", "gt-cat" => "appcelerator", "gt-lbl" => "titanium download"
              for mobile development. 
          
          .clearboth
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          .one_half
            = stylesheet_link_tag 'tweets.screen'
            %h3 Twitter
            #tweethash
              \@oilreporter
        
        / end entry
      / end content
    / end primary_full
    
    .clearboth
    
  / end inner
/ end body_block