#intro_blurb
  .inner
    #intro_blurb_title
      %span Setup
    #blurb
      Developing Applications with Oil Reporter Data
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#has_sidebar
  #body_block
    .inner
      - if flash.any?
        - flash.each do |key, value|
          %div{ :class => "#{key}_box", :style => "max-width:500px;margin-bottom:20px;" }
            = value
      #primary
        .content
          %h1 For Developers
          %p
            Oil Reporter produces data that can be used to build custom tracking applications.  With Titanium Appcelerator and your JavaScript skills, you can quickly localize the images, video, and data from the Oil Reporter web service into your own iPhone, Android, or iPad application.  If you are an organization that needs development expertise, please complete the form on the right to be paired with a volundeer developer.
          %p
            %span.frame.alignleft
              %img{ :src => "/images/appcelerator.png"}

          .divider.top
            %a{ :href => "#" }
              Top

          %h2 What you'll need
          %p
            %ul
              %li
                %a{ :href => "/signup" }
                  API Key
              %li
                %a{ :href => "http://www.appcelerator.com/download" }
                  Titanium Mobile SDK
              %li
                iPhone SDK and/or Android SDK
              %li
                Reference Oil Tracker application
              %li
                %a{ :href => "http://github.com" }
                  Github 
                (recommended)
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          %p
            %span.dropcap2
              1
            Obtain an API key which will allow you to consume Oil Reporter web services. 
            You can get an API key by signing up for one 
            %a{ :href => "/signup" }
              here.
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          %p
            %span.dropcap2
              2
            Learn more about Titanium application development with this
            %a{ :href => "http://www.appcelerator.com/download" }
              Getting Started 
            guide.
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          %p
            %span.dropcap2
              3
            Download and install the
            %a{ :href => "http://developer.apple.com/iphone" }
              iPhone 
            and/or
            %a{ :href => "http://developer.android.com" }
              Android 
            SDKs for native mobile development.
            %a{ :href => "http://vimeo.com/10038503" }
              This screen-cast
            shows you how to get set up.
          
          .divider.top
            %a{ :href => "#" }
              Top

          %p
            %span.dropcap2
              4
            %a{ :href => "http://github.com/intridea/oilreporter-mobile" }
              Download the sample Oil Tracker iPhone/Android Titanium project
            to see how you can build a mobile application that consumes Oil Reporter data.
          
          .divider.top
            %a{ :href => "#" }
              Top
          
          %p
            %span.dropcap2
              5
            Push your new application to
            %a{ :href => "http://github.com" }
            Github
            and then 
            %a{ :href => "http://twitter.com/oilreporter" }
            let us know
            about it!
          
          .divider.top
            %a{ :href => "#" }
              Top
        / end content
      /end primary
            
      %h2 For Organizations
      
      = error_messages_for :organization

      %p
        Are you an organization that needs development assistance?  
      %p
        Please complete this form and we will match you with a volunteer developer.
        - form_for(:organization, :url => "organizations", :html => { :id => 'contact_form' }) do |f|
          %fieldset
            %p
              = f.text_field :name, :class => "requiredFieldContact textfield", :id => "field"
              = f.label :name, "Organization Name"
            %p
              = f.text_field :contact_person, :class => "requiredFieldContact textfield", :id => "field"
              = f.label :contact_person, "Contact Person"
            %p
              = f.text_field :email, :class => "requiredFieldContact textfield", :id => "email"
              = f.label :email, "&nbsp;E-mail Address"
            %p
              = f.text_field :website, :class => "requiredFieldContact textfield", :id => "url"
              = f.label :website
            %p
              = f.text_area :purpose, :class => "requiredFieldContact textarea", :id => "field"
            %p.loadingImgWidgetFt
            %p
              = submit_tag('Submit', :class => "round s button")
    .clearboth