- content_for :head do
  - if @preview
    = set_meta_tags :title => 'Viewing Preview' 
  - else
    = set_meta_tags :title => 'Viewing Draft' 
  
- comments ||= false

#intro_blurb
  .inner
    - if post.draft?
      #intro_blurb_title
        %span
          Status: Draft
    - else
      #intro_blurb_title
        %span
          Status: Published
      #blurb
        = link_to('Click to view', post_link(post))
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#has_sidebar
  #body_block
    .inner
      #primary
        .content
          - if flash.any?
            - flash.each do |key, value|
              %div{ :class => "#{key}_box" }
                = value
          %h2.blog_header
            = @preview ? post.title : link_to(post.title, post_link(post))
          .top_metadata
            Posted
            = post.published_on.strftime("%B %d, %Y").gsub(" 0"," ")
            by
            = link_to "#{post.user.name}"
            in
            = tag_links_for(post.tag_list)
            and
            = link_to("Permalink", post_path(@post, :anchor => "disqus_thread"))
            = disqus_comment_counts
          .entry
            %p
              = render_body(post)
            .clearboth
          .bottom_metadata
            - if current_user && !@preview
              = link_to 'Edit Post', edit_admin_post_path(post), :class => 'edit_post'
              |
              = link_to 'Delete Post', admin_post_path(post), :method => :delete, :confirm => "Are you sure you want to delete this post?", :class => 'delete_post'
            - else
              %span.tags
                = tag_links_for(post.tag_list)
          .gradient_box_middle#spread_the_word
            .gradient_box_top
              .gradient_box_bottom
                %span.sprite
                .icons
                  .twitter_icon
                    %a{ :href => "#", :title => "Twitter" }
                  .stumbleupon_icon
                    %a{ :href => "#", :title => "Stumble Upon" }
                  .reddit_icon
                    %a{ :href => "#", :title => "Reddit" }
                  .digg_icon
                    %a{ :href => "#", :title => "Digg" }
                  .delicious_icon
                    %a{ :href => "#", :title => "Delicious" }
                  .facebook_icon
                    %a{ :href => "#", :title => "Facebook" }
                  .linkedin_icon
                    %a{ :href => "#", :title => "LinkedIn" }
                .clearboth
          / end spread_the_word
          .gradient_box_middle#about_the_author
            .gradient_box_top
              .gradient_box_bottom
                %span.sprite
                %img{ :src => "#{post.user.photo.url(:original)}", :class => "avatar avatar-80 photo", :height => "80", :width => "80" }
                %p.padding
                  %strong 
                    = post.user.name
                  \-
                  = post.user.bio
                .clearboth
          / end about_the_author
          .clearboth
          #comments
            - if "production" == RAILS_ENV
              = disqus_thread(:show_powered_by => false)
            - else
              = disqus_thread(:show_powered_by => false, :developer => true)
          / end comments
      #secondary
        .content
          / = search # disabled for now
          #popular-widget.widget.webtreats_popular_widget
            %h3.widgettitle Popular Discussions
            = disqus_combo(:hide_mods => false, :num_items => 20)
          / end popular_related_posts