- form_for(:organization, :url => organizations_path, :html => { :id => 'contact_form' }) do |f|
  %fieldset
    %p
      = f.text_field :name, :class => "requiredFieldContact textfield", :id => "field"
      = f.label :name, "Organization Name"
    %p
      = f.text_field :contact_person, :class => "requiredFieldContact textfield", :id => "field"
      = f.label :contact_person, "Contact Person"
    %p
      = f.text_field :email, :class => "requiredFieldContact textfield", :id => "email"
      = f.label :email, "&nbsp;E-mail Address"
    %p
      = f.text_field :website, :class => "requiredFieldContact textfield", :id => "url"
      = f.label :website
    %p
      = f.text_area :purpose, :class => "requiredFieldContact textarea", :id => "field"
    %p
      = recaptcha_tag(:challenge)
    %p.loadingImgWidgetFt
    %p
      = submit_tag('Submit', :class => "round s button")