- content_for :head do
  = set_meta_tags :title => 'Organization Sign Up'
  
#intro_blurb
  .inner
    #intro_blurb_title
      %span New Customization Request
    #blurb
      Apply Below to Get Your Own
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        - if flash.any?
          - flash.each do |key, value|
            %div{ :class => "#{key}_box", :style => "max-width:500px;margin-bottom:20px;" }
              = value
        %h2 Please complete this form
        = error_messages_for :organization
        = render :partial => 'form'
      .clearboth