#intro_blurb
  .inner
    #intro_blurb_title
      %span Setup
    #blurb
      Developing Applications with Oil Reporter Data
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#has_sidebar
  #body_block
    .inner
      - if flash.any?
        - flash.each do |key, value|
          %div{ :class => "#{key}_box", :style => "max-width:500px;margin-bottom:20px;" }
            = value

      %h2 For Organizations
      
      = error_messages_for :organization
      = render :partial => 'form'
    .clearboth