- content_for :head do
  = set_meta_tags :title => 'Reports | Oil Spill Pictures'

- content_for :js_templates do
  = "document.write(\'<style type=\"text/css\">.noscript { display:none; }</style>\'); jQuery.preloadImages(\"images/ajax-loader.gif\");"
#intro_blurb
  .inner
    #intro_blurb_title
      %span View Reports
    #blurb
      Latest Oil Reports in Real-Time
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        %h2#tables
          Oil Report
          = link_to "(RSS)", reports_url(:format => :rss), "gt-evt" => "click", "gt-cat" => "rss"
        %table{ :cellpadding => "0", :cellspacing => "0", :border => "0" }
          %tr
            %th
              Date
            %th
              Description
            %th
              Wildlife
            %th
              Oil
            %th
              Wetlands
            %th
              Media
          - for report in @reports do
            %tr{:class => cycle("even", "odd")}
              %td
                = link_to(report.created_at.strftime('%m/%d/%Y'), show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                = link_to(report.description, show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                = link_to(report.wildlife, show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                = link_to(report.oil, show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                = link_to(report.wetlands, show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                - if report.media?
                  = link_to image_tag(report.media(:thumb)), show_report_path(:state => report.state.slug, :id => report.slug)
                - else
                  = link_to image_tag('/images/missing.png'), show_report_path(:state => report.state.slug, :id => report.slug)
        = will_paginate(@reports)
      / end content
      .clearboth
    / end primary_full
  / end inner
/ end body_block