- content_for :head do
  = set_meta_tags :title => 'Reports | Oil Spill Pictures'

- content_for :js_templates do
  = "document.write(\'<style type=\"text/css\">.noscript { display:none; }</style>\'); jQuery.preloadImages(\"images/ajax-loader.gif\");"
#intro_blurb
  .inner
    #intro_blurb_title
      %span View Reports
    #blurb
      Latest Oil Reports in Real-Time
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        %h2#tables
          Oil Report
          = link_to "(RSS)", reports_url(:format => :rss), "gt-evt" => "click", "gt-cat" => "rss"
        %table{ :cellpadding => "0", :cellspacing => "0", :border => "0" }
          %tr
            %th
              Date
            %th
              Description
            %th
              Wildlife
            %th
              Oil
            %th
              Wetlands
            %th
              Media
          - for report in @reports do
            %tr{:class => cycle("even", "odd")}
              %td
                = link_to(report.created_at.strftime('%m.%d.%Y'), show_report_path(:state => report.state.slug, :id => report.slug))
              %td
                = report.description
              %td
                = report.wildlife 
              %td
                = report.oil
                out of 10
              %td
                = report.wetlands
                out of 10
              %td
                - if report.media?
                  .image_loader
                    .reports_img_holder
                      .loading_reports
                      %a{ :href => "#{report.media(:medium)}", :rel => "lightbox[gallery]", :class => "load_reports_img", "gt-evt" => "click", "gt-cat" => "reports", "gt-lbl" => "View Large Image" }
                        %span.rm_img.noscript
                          %img{ :src => "#{report.media(:medium)}" }
                        %span.roll_over.rollover  
                - else
                  = image_tag('http://placehold.it/50x50')
        = will_paginate(@reports)
      / end content
      .clearboth
    / end primary_full
  / end inner
/ end body_block