- content_for :head do
  = set_meta_tags :title => 'Map'
  
= map_javascripts

= markers
:javascript
  jQuery(document).ready(function() {
    #{show_map(@reports)}
  });

#intro_blurb
  .inner
    #intro_blurb_title
      %span Map
    #blurb
      Latest Oil Reports Mapped in Real-Time
/ end intro

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        %h3
          = link_to('View in Google Earth', reports_path(:format => :kml))
        %div{:id => 'map', :style => "height: 600px;" }
      / end content
      .clear
    / end primary_full
  / end inner
/ body_block