- content_for :head do
  = set_meta_tags :title => "Reports | #{truncate(@report.description, :length => 50)}"

= map_javascripts

= markers
:javascript
  jQuery(document).ready(function() {
    #{detailed_map(@report)}
  });

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        %h4
          This report was
          \submitted on
          = @report.created_at.strftime('%m/%d/%Y')
        %blockquote
          %h1
            = @report.description
        %h3.toggle{ :style => "margin-top:-30px;margin-bottom:40px;" }
          %a{ :href => "#" }
            view report details
        .toggle_content{ :style => "display:none" }
          .block
            %ul.arrow_list
              %li
                %h4
                  How much oil do you see?
                  = @report.oil
                  out of 10
              %li
                %h4
                  Is there wildlife present?
                  = @report.wildlife
              %li
                %h4
                  Impact to wetlands?
                  = @report.wetlands
                  out of 10
        .one_half
          %h6 Map
          %div{:id => 'map', :style => "height:480px;width:454px;border:1px#0d4275solid;" }
        .one_half.last
          - if @report.media?
            %h6 Photo Taken
            %img{ :src => "#{@report.media(:medium)}" }
          - else
            %h6 Photo
            No photo taken
          