- content_for :head do
  = set_meta_tags :title => "Reports | #{truncate(@report.description, :length => 50)}"

= map_javascripts

= markers
:javascript
  jQuery(document).ready(function() {
    #{detailed_map(@report)}
  });

.clearboth

#breadcrumbs
  .inner
    %p.breadcrumb
      = render_crumbs :seperator => '<span class="breadarrow">/</span>'

#body_block
  .inner
    #primary_full
      .content
        %h4
          This report was
          \submitted on
          = @report.created_at.strftime('%m/%d/%Y')
        %blockquote
          %h1
            = @report.description
        %h3.toggle{ :style => "margin-top:-40px;" }
          %a{ :href => "#" }
            view report details
        .toggle_content{ :style => "display:none" }
          .block
            %ul.arrow_list
              %li
                %h4
                  How much oil do you see?
                  = @report.oil
                  out of 10
              %li
                %h4
                  Is there wildlife present?
                  = @report.wildlife
              %li
                %h4
                  Impact to wetlands?
                  = @report.wetlands
                  out of 10
        .media
          .map-container
            %div{:id => 'map', :style => "height: 480px; width: 480px; float: left" }
          .image-container{ :style => 'float: left; margin-left: 100px' }
            %img{ :src => "#{@report.media(:medium)}" }