!!!
%html
  %head{ :profile => "http://gmpg.org/xfn/11" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    == <meta name="google-site-verification" content="" />

    = display_meta_tags :site => 'Oil Reporter Platform'

    %link{:rel => 'shortcut icon', :href => '/images/favicon.ico'}

    = stylesheet_link_tag 'prettyPhoto', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'coderay', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'style', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css'
    = stylesheet_link_tag 'oilreporter', :type => "text/css", :media => "screen"
    = sprockets_include_tag
    = yield :js_includes
    - javascript_tag do
      = yield :js_templates

    /[if lt IE 7]
      = stylesheet_link_tag 'ie6', :type => "text/css", :media => "screen"
      = javascript_include_tag 'unitpngfix'

    / TODO: activate later
    / = stylesheet_link_tag 'tweets.screen'
    / = javascript_include_tag 'jquery.tweets.pack'
    / = twitter
  
  %body
    = header
  
    = yield
    
    = footer
    
    - if RAILS_ENV == "production"
      = javascripts