!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    == <meta name="keywords" content="oil spill, oil cleanup, oil reporting, oil reporter" />
    == <meta name="description" content="Oil Reporter is an open source effort to help aid in the relief efforts for the Gulf of Mexico Oil Spill." />
    == <meta name="google-site-verification" content="" />

    %title
      = @title || "Oil Reporter - An Open Source Clean Up"

    %link{:rel => 'shortcut icon', :href => '/images/favicon.ico'}

    = stylesheet_link_tag 'prettyPhoto', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'coderay', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'style', :type => "text/css", :media => "screen"
    = stylesheet_link_tag 'oilreporter', :type => "text/css", :media => "screen"

    = sprockets_include_tag
    = yield :js_includes
    - javascript_tag do
      = yield :js_templates

    /[if lt IE 7]
      = stylesheet_link_tag 'ie6', :type => "text/css", :media => "screen"
      = javascript_include_tag 'unitpngfix'
      :javascript
        / PNG FIX
        DD_belatedPNG.fix('.png_fix');

    / TODO: activate later
    / = stylesheet_link_tag 'tweets.screen'
    / = javascript_include_tag 'jquery.tweets.pack'
    / = twitter
  
  %body
    = header
  
    = yield
    
    = footer
    
    - if RAILS_ENV == "production"
      = javascripts